# This is a basic workflow to help you get started with Actions

name: Test

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: main

      # Runs a single command using the runners shell
      - name: Set up python3
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.6

      # Runs a set of commands using the runners shell
      - name: Run sign
        run: |
          python -m pip install --upgrade pip
          `echo "${{ secrets.URL }}"` | python3 ./main.py